# langchain-google-genai (if using /db/ which is google embedding)
langchain-community
streamlit
pandas
numpy
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
sentence-transformers
transformers
protobuf==3.20.3